*{
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
 }
 body{
    background-color: #80ffff;
    display: grid;
    height: 100vh;
    place-items: center;
 }
 .h{
    font-family:'poppind',sans-serif;
 }
 .main{
    width: 400px;
    height: 450px;
    background-color: white;
    position: absolute;
   border: 5px solid #008000;
   border-radius: 6px; 
}
.main input[type='text'] {
   width: 88%;
   position: relative;
   height: 80px;
   top: 5px;
   text-align: right;
   padding: 3px 6px;
   outline: none;
   font-size: 40px;
   border: 5px solid #008000;
   display: flex;
   margin: auto;
   border-radius: 6px;
   color: #000000;
}
.btn input[type='button']{
   width:90px;
   padding: 2px;
   margin: 2px 0px;
   position: relative;
   left: 13px;
   top: 20px;
   height: 60px;
   cursor: pointer;
   font-size: 18px;
   transition: 0.5s;
   background-color: #ff8080;
   border-radius: 6px;
   color: white;
}
.btn input[type='button']:hover{
   background-color: black;
   color: white;
}